<h1><%=title%></h1>

<p>Experties</p>

<ul>
    <% for(var i=0; i<experties.length; i++) { %>
        <li>
			<%= experties[i] %>
        </li>
    <% } %>
</ul>

<p>Experience</p>

<ul>
    <% for(var i=0; i<experience.length; i++) { %>
        <li>
			<%= experience[i] %>
        </li>
    <% } %>
</ul>